@CHARSET "UTF-8";

.header {
	height: 170px;
}

body {
	padding-top: 51px;
}
/*Login*/
.error_is-visible_uname {
	color: red;
	opacity: 1;
	margin-bottom: 0px;
	visibility: visible;
	position: absolute;
	top: 9px;
	right: 28px;
	line-height: 17px;
	font-weight: 500;
	font-family: Arial;
	padding-right: 5px;
	padding-left: 5px;
}

.error_is-visible_pwd {
	color: red;
	opacity: 1;
	margin-bottom: 0px;
	visibility: visible;
	position: absolute;
	top: 9px;
	right: 28px;
	line-height: 17px;
	font-weight: 500;
	font-family: Arial;
	padding-right: 5px;
	padding-left: 5px;
}

.img-circle {
	border-radius: 50%;
	border: 1px solid #dddddd;
	padding: 1px;
	background-color: white;
	width: 53px;
	margin-right: 10px;
}


.outloginbtn {
	border-radius: 0px;
	color: #d0d0d0;
	border: none;
	background-color: #d43f3a;
	height: 53px;
}

.outloginbtn:hover{
	color:white;
}