@CHARSET "UTF-8";
.header{
	height:170px;
}

/*Login*/
.error_is-visible{
    color:red;
    opacity: 1;
    margin-bottom: 0px;
    visibility: visible;
    position: absolute;
    top: 12px;
    right: 28px;
    line-height: 17px;
    font-weight: 700;
    font-family: "宋体";
    padding-right: 5px;
    padding-left: 5px;
}
a{
	cursor:pointer;
}